<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Cooking</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5e97e75888.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Risque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>

    <header class="border">

      <nav class="border">

        <ul class="border">

          <!-- icon will show at certain screen size -->
          <li class="border icon">

            <section class="border">

              <i class="fas fa-bars"></i>

            </section>

          </li>

          <li class="border remove">
            <!-- #1 -->

            <section class="border">

              <a href="/home">
                <h2>Home</h2>
              </a>

            </section>


            <!-- SVG cooking pot -->
            <section class="border">

              <!-- link to svg site https://www.svgrepo.com/ -->
              <img src="img/cookingPot-svgrepo-com.svg" alt="cooking pot">

            </section>

          </li>

          <li class="border remove">
            <!-- #2 -->

            <section class="border">

              <a href="#">
                <h2>Recipes</h2>
              </a>

            </section>

            <!-- SVG cooking pot -->
            <section class="border">

              <!-- link to svg site https://www.svgrepo.com/ -->
              <img src="img/cookingPot-svgrepo-com.svg" alt="cooking pot">

            </section>

          </li>

          <!-- if the user is logged in, this will show -->
          <% if (isAuthenticated) { %>

            <li class="border remove">
              <!-- #3 -->

              <section class="border">

                <a href="#">
                  <h2>Profile</h2>
                </a>

              </section>

              <!-- SVG cooking pot -->
              <section class="border">

                <!-- link to svg site https://www.svgrepo.com/ -->
                <img src="img/cookingPot-svgrepo-com.svg" alt="cooking pot">

              </section>

            </li>

            <li class="border remove">
              <!-- #4 -->

              <section class="border">

                <a href="#">
                  <h2>Creations</h2>
                </a>

              </section>

              <!-- SVG cooking pot -->
              <section class="border">

                <!-- link to svg site https://www.svgrepo.com/ -->
                <img src="img/cookingPot-svgrepo-com.svg" alt="cooking pot">

              </section>

            </li>

            <li class="border">

              <a href="/logout">
                <button type="button" name="sign out">Sign Out
                </button>
              </a>

            </li>

          <% } else { %>

            <!-- Else the login and sign up will show -->
          <li class="border">

            <a href="/login" class="btn btn-default">
              <button type="button" name="sign out">
                <span class="fa fa-user"></span> Login
              </button>
            </a>

          </li>

          <li class="border">

            <a href="/signup" class="btn btn-default">
              <button type="button" name="sign out"><span class="fa fa-user"></span> Signup
              </button>
            </a>

          </li>

          <% } %>

        </ul>

      </nav>

      <% if (isAuthenticated) { %>

        <section class="border">

          <form class="border" enctype="multipart/form-data" action="/home" method="post">

            <label for="title">Title</label>
            <input id="title" type="text" name="title" value="" placeholder="Title">

            <label for="pic">Upload a picture</label>
            <input id="pic" type="file" name="picture" placeholder="Choose a picture">

            <label for="description">Describe your Experience</label>
            <textarea id="description" name="story" rows="5" cols="33" placeholder="Your Story" spellcheck="true" wrap="
            " minlength="10" maxlength="10000" autocomplete="on"></textarea>

            <input type="submit" value="Upload">

          </form>

        </section>

      <% } %>

    </header>

    <script src="home.js" type="text/javascript"></script>

  </body>
</html>
